.SucessScreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15rem;
  & > h2 {
    color: green;
    font-size: 20rem;
    font-weight: 700;
    margin: 0;
    max-width: 90vw;
    text-align: center;
  }
  & > svg {
    width: 50rem;
    height: 50rem;
    fill: green;
  }
  & > h3 {
    font-size: 16rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5rem;
    max-width: 90vw;
    text-align: center;
  }
  & > button {
    margin: 0;
    width: 400rem;
    max-width: 90vw;
  }
}
