@mixin customScroll($color: black, $widht: 8px, $size: thin, $backgroundScroll: black) {
  scrollbar-width: $size;
  scrollbar-color: $color;
  &::-webkit-scrollbar {
    width: $widht;
    background: $backgroundScroll;
  }

  &::-webkit-scrollbar-track {
    border-radius: 100%;
  }

  &::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: 10rem;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:not([disabled]):hover {
      @content;
    }
  }
}
