@use '@Root/Mixins' as *;

.CreatePaymentContainer {
  width: min(400rem, 80vw);
  & > h1 {
    font-size: 32rem;
  }
  & > form {
    display: flex;
    flex-direction: column;
    gap: 15rem;
    width: 100%;
    & > [id='GenericInputContainer'] {
      width: 100%;
    }
  }
}

.SelectCurrencyContainer {
  display: flex;
  gap: 27rem;
}

.PayContextInfoContainer {
  width: min(600rem, 80vw);
  & > div {
    background-color: #f9fafc;
    border-radius: 8rem;
    display: flex;
    flex-direction: column;
    gap: 24rem 0rem;
    padding: 30rem 0;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    & hr {
      margin: 0;
      border: none;
      height: 1rem;
      background-color: black;
    }
  }
}

.InfoItem {
  display: flex;
  width: 100%;
  padding: 0 30rem;
  align-items: center;
  gap: 15rem;
  & h2 {
    margin: 0;
    font-size: 16rem;
    color: #002859;
    font-weight: 600;
    text-align: right;
  }
  & .BoldStyle {
    font-weight: 700;
    font-size: 18rem;
    color: #002859;
  }

  & h2:nth-child(1) {
    margin-right: auto;
    font-weight: 700;
    font-size: 16rem;
    color: #002859;
    text-align: left;
  }
  & > span {
    display: flex;
    align-items: center;
    gap: 5rem;
    & svg {
      height: 20rem;
      width: 20rem;
    }
    & img {
      height: 26rem;
      width: 26rem;
    }
  }
}

.SelectorCurrency {
  width: min(600rem, 80vw);
  & > button {
    width: 100%;
  }
}

.TittleSection {
  font-size: 20rem;
  margin: 0;
  margin-bottom: 16rem;
  font-weight: 700;
}

@media (max-width: 1300px) {
  .SelectCurrencyContainer {
    display: flex;
    flex-direction: column;
  }
}
